@font-face {
    font-family: "Dream Avenue";
    src: local(Dream Avenue), url(../imgs/Dream\ Avenue\ .otf);
    font-weight: 80px;
}

@font-face {
    font-family: "Dm Sans";
    src: local(Dm Sans), url(../imgs/DMSans-Medium.ttf);
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');

h1 {    
    font-family: "Dream Avenue", sans-serif;
    color: #fff;
    font-size: 25px;
    width: 2px;
    float: left;
    margin-top: 0px;
}

.oval {
    background-color: transparent;
    border: solid white 2px;
    border-radius: 50%;
    width: 150px;
    height: 60px;
    margin: 10px;
    padding: 15px;
    float: left;
}

.nav-item {
    padding-right: 30px;
    font-family: "Dm Sans", Arial;
}

.navbar-brand {
    padding-left: 20px !important;
}
  
.navbar {
    position:static;
    background: rgba(255, 255, 255, 0.25) !important; 
    top: 0;
    right: 0;
    left: 0;
}
  
.nav-link:hover {
    color: #624e39  !important;
}
  
.d-flex {
    padding-right: 40px !important;
}

.nav-link.active.um:hover {
    content: url('../imgs/pessoa2.png');
}

.nav-link.active.dois:hover {
    content: url('../imgs/carrinho2.png');
}

.dropdown-menu {
    background-color: #BCAA95;
    border-color: #BCAA95;
}

.dropdown-item {
    font-family: "Dm Sans", arial;
    color:#fff;
}

.dropdown-item:hover {
    background-color: #BCAA95;
    color: #3a2e21;
}

body{
    background-color: #BCAA95;

}

h2{
    margin-left: 9%;
    font-family: "Dream Avenue", sans-serif;
    color:#3a2e21;
    font-size: max(20px, 3.5vw);
    padding-top: 20%;
}

.quadrado{
    margin-left: 9%;
    margin-right: 7%;
    height: 400px;
    background-color: #826f5a;
}

.fonte{
    margin-left: 2%;
    margin-right: 2%;
    font-family: 'Open Sans', sans-serif;
    color:#fff;
    font-size: 24px;
    padding-top: 3%;
    text-align: justify;
}

  .alinhamento1{
    margin-left: 25%;
    margin-top: 5%;
  }
  
  .alinhamento2{
    margin-left: 20%;

  }
  
  .alinhamento3{
    margin-left: 35%;
  }
  
  
  .altura{
    margin-top: 10%;
  }
  

.circulo {
    margin: 0 auto;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #802525;
    align-items: center;
    font-family: sans-serif;
    color: #d9d0d0;
    text-align: center;
    font-size: 50px;
    border: none;
  }
